{% extends 'accounts/main.html' %}
{% load static %}


{% block content %}

	<h1>Lets Begin The Process</h1>
	<p1>Below you will see a series of categories. Each category is used to store and amount you spent in your pay period for that specific reason. 
	We will use the amount you spent to calculate a plan for you to manage your spending until the next pay period. Please enter the proper information below</p1>

	<div class="row">
	<div class="col-md-9">


<h2>Enter Information Below:</h2>
<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Money Spent</th>
      <th scope="col">Cut cost or Spend more?</th>
      <th scope="col">Percent Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>
    </tr>
        <tr>
      <th scope="row">Insert Catetory Here</th>
      <td><input type = "number" class = "form control" placeholder="Amount Spent"></td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Select
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">Save Money</a>
   						  <a class="dropdown-item" href="#">Flexible with Spending</a>
 					 </div>
			</div>

      </td>
      <td>
      		<div class="dropdown">
 				 <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   					 Percent Change
 				 </button>
 					 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  						  <a class="dropdown-item" href="#">5%</a>
   						  <a class="dropdown-item" href="#">10%</a>
   						  <a class="dropdown-item" href="#">15%</a>
   						  <a class="dropdown-item" href="#">20%</a>
 					 </div>
			</div>


      </td>

  </tbody>
</table>
</div>

<div class="col-md-3">
	<p>advertisment here, place picture in here</p>
</div>

</div>

<div>
	<button type = "button" class = "btn btn-success">Submit</button>
</div>

{% endblock %}