{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<h1 style = "text-align: center"> Welcome Back! Let Us Manage Your Expenses </h1>
<p1 style = "text-align: right"> We hopeee that you are on path to meet your financial goals. 
	The Financial Manager web application is used to read your income, and create an organized spending chart in which you can use to dictate your spending behavior or the week, bi-weekly, or month. 
	Please navigate the website and use the tools provided
	to help acheiev your financial goal. </p1>
<div class="p-3 mb-2 bg-secondary text-white">
  <p>Use the dox below to enter your paycheck. After inputing the check and submitting it using the input check button we will begin the managment parocess.</p>
</div>

<form>
	<div class = "form-row">
		<div class = "col-2">
			<input type = "number" class = "form control" placeholder="Paycheck Input">
		</div>
		<div>
			<button type = "button" class = "btn btn-success">Input Check</button>
		</div>
	</div>

</form>
<div class="row">
	<div class="col-md-9">


<h2>Previous Statement is shown below:</h2>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Amount Spent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
        <tr>
      <th scope="row">Input Date Here</th>
      <td>Input Category Here</td>
      <td>Input Amount Spent Here</td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-3">
	<p>advertisment here, place picture in here</p>
</div>

</div>

{% endblock %}